@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.root {
    -fx-background-image: url("../images/hauntedHauseScene.jpg");
    -fx-background-size: cover;
    -fx-font-family: "Creepster", cursive;
}
.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, black, 2, 0, 0, 0);
}


.menu-bar         { -fx-background-color: rgba(20,20,20,0.85); }
.menu, .menu-item { -fx-text-fill: #ffe600; }


.button {
    -fx-background-color: linear-gradient(#4e085f, #2a0433);
    -fx-text-fill: #ffe600;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.8) , 6 , 0 , 0 , 3);


        -fx-pref-width: 260px;
        -fx-pref-height: 70px;

        -fx-font-size: 20px;
}
.button:hover { -fx-rotate: -5; }

#mazeCanvas {
    -fx-border-color: #ffe600;
    -fx-border-width: 2;
}