.root {
    -fx-background-image: url("../images/princessScene.jpg");
    -fx-background-size: cover;
    -fx-font-family: "Segoe Script";
}


.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, black, 2, 0, 0, 0);
}

.menu-bar         { -fx-background-color: rgba(255,182,193,0.85); }
.menu, .menu-item { -fx-text-fill: #ffffff; }

.button {
    -fx-background-color: linear-gradient(#ffb6c1, #ff4da6);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian , rgba(255,192,203,0.6) , 8 , 0 , 0 , 2);

    -fx-pref-width: 260px;
    -fx-pref-height: 70px;

    -fx-font-size: 20px;
}
.button:hover { -fx-scale-x: 1.05; -fx-scale-y: 1.05; }

#mazeCanvas {
    -fx-border-color: #ff4da6;
    -fx-border-width: 2;
}